.open-sans-normal {
  font-family: "Open Sans", "Fira Sans";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
nav {
  display: flex;
  justify-content: space-between;
  color: rgb(14, 14, 14);
  background: rgb(245, 245, 245);
  font-family: "Fira Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 153px;
  margin-right: 153px;
}
.signin {
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  position: static;
  width: 116px;
  height: 46px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48;
  padding: 15px 30px 15px 30px;
  margin: 37px 10px;
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.border {
  background-color: rgb(245, 245, 245);
}
.banner-top-text {
  color: rgba(14, 14, 14, 0.5);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 20px;
  width: 622px;
  height: 29px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 50px;
}
.banner-main-text {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  width: 622px;
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin-left: 50px;
}
.banner {
  border-radius: 24px;

  background: rgb(198, 228, 214);
  width: 1000px;
  height: 520px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  padding: 0 300px 100px 200px;
  margin: 20px 200px;
}
.banner-button-contain {
  width: 270px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 34px 17px 34px;
  margin: 20px 50px 0px 10px;
}
.banner-button {
  border-radius: 8px;

  background: rgb(0, 106, 80);
  width: 270px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 34px 17px 34px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
}
.section-header {
  color: rgb(14, 14, 14);
  font-family: "Fira Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  position: static;
  width: 1280px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32;
  padding: 0px;
}
.piller-box-image {
  background-color: rgb(129, 180, 252);
  width: 49.66px;
  height: 53.09px;
  left: 13.34px;
  top: 1px;
}
.pillars {
  margin: 20px 200px;
}

.pillar-box-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}

.pillar-box {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;

  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  width: 302px;
  height: 244px;
  padding: 24px;
  flex-grow: 0;
}
.pillar-box-header {
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 254px;
  height: 24px;
  padding: 0px;
  margin: 12px 0px;
}
.pillar-box-paragraph {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 254px;
  padding: 0px;
  flex-grow: 0;
  margin: 12px 0px;
}
